html {
  height: 100%;
  background: #ffffff url('background.jpeg') no-repeat center;
}

.slds-page-header {
  position: relative;
  z-index: 10000;
  background-color:rgba(244, 246, 249, 0.3);
  color:#000000;
}

.slds-box {
  background-color:rgba(244, 246, 249, 0.3);
  color:#FFFFFF;
}

.credits {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 5px;
  color: #9faab5;
}
